@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: white;
}


main {
    width: 100%;
    height: auto;
    padding: 80px 0px;
    background-color: black;
    /* background-image: url("images/background.jpg"); */
}


nav {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 80px;
    background-color: black;
    line-height: 80px;
    /* padding: 0px 100px; */
    position: fixed;
    z-index: 1;
    text-align: center;
  
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
    padding: 0px 32px;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li .active {
    text-decoration: underline;
    /* I want ti add an underline styling */
}


.photo {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: auto;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    vertical-align: middle;
}


.column {
    float: left;
    width: 50%;
    padding:10px;
}

.about {
    width: 100%;
    margin: 0px auto;
}

.about p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding:40px 100px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    padding:10px;
    height: auto;
    vertical-align: middle;
}
.row h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    font-size: 25px;
}
.three{
    margin-bottom: 40px;
}
 .name{
     padding-top: 200px;
 }
.name h2 {
    text-align: justify;
    vertical-align: middle;
    /* line-height: 400px; */
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}

.hobbies, .priorities, .non-prog-skills{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    list-style: circle;
}
footer {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
   
    padding: 30px;
}

footer p {
    line-height: 150px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

footer ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700px;
}

footer ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
    padding: 0px 32px;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
}


/* Register */
.main-form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.main-form h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 30px;
}



form {
    margin: 50px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    height: 100px;
}

input#submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
}

input#submit:hover {
    color: black;
    background-color: white;
    transform: translateY(-2px);
    border: 2px solid white;
    font-size: 20px;
}


label {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.contact-me {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}


button {
    width: 100px;
}

/* CSS */
.button-28 {
    appearance: none;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: black;
    transform: translateY(-2px);
    border: 2px solid white;
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

.column{
    display:grid;
    place-items: center;
}

.skills-bar{
    width: 90%;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding:25px 30px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0;
}

.skills-bar .bar .info{
    margin-bottom: 10px;
}
.skills-bar .bar .info span{
    font-size: 16px;
    font-weight: 900;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 15px;
    background-color: rgb(65, 63, 63);
    border-radius: 10px;
    width: 100%;
}
.bar .progress-line span{
    height: 100%;
    width: 80%;
    background-color: rgb(189, 174, 38);
    position: absolute;
    border-radius: 10px;
    border-radius: 10px;
}

.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:30%;
}

.progress-line.python span{
    width:40%;
}

.progress-line.javascript span{
    width:15%;
}


.bar .progress-line span::before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    right:0;
    top: -8px;
    border: 8px solid transparent;
    border-bottom-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-width: 0px;

}
.bar .progress-line span::after{
    position: absolute;
    padding:1px 9px;
    right:0;
    border-radius: 3px;
    top: -25px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
}

.progress-line.html span::after{
    content:"90%";
}
.progress-line.css span::after{
    content:"30%";
}

.progress-line.python span::after{
    content:"40%";
}

.progress-line.javascript span::after{
    content:"15%";
}




@media (max-width: 1000px) {
    nav ul li a {
        font-size: 16px;
    }

    nav ul li {
        margin-left: 2px;
    }
}


@media (max-width: 800px) {
    nav ul li a {
        font-size: 14px;
    }

    nav ul li {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    nav ul li a {
        font-size: 12px;
    }

    nav ul li {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }